<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <title>List of cars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
</head>

<body>
<h1>List of cars</h1>
<div>
    <table>
        <tr>
            <th>Model</th>
            <th>Series</th>
            <th>Mileage</th>
        </tr>
        <tr th:each="car : ${carsList}">
            <td th:text="${car.getModel()}"></td>
            <td th:text="${car.getSeries()}"></td>
            <td th:text="${car.getMileage()}"></td>
        </tr>
    </table>
</div>
</body>
</html>